{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="post">
        <div class="vstack">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
    <div class="card">
        <div class="card-body">
            <div class="card-title">Total today ({{ today_date }})</div>
            <div class="card-text text-center">
                <span class="fs-3">{{ total_ml_today }} ml</span>
            </div>
        </div>
    </div>
    <div class="card"></div>
    {% if last_submitted_log %}
        <div class="card">
            <div class="card-body">
                <div class="card-title">Last submitted log - {{ last_submitted_log.date }} ml</div>
                <div class="card-text">
                    <span>Date: {{ last_submitted_log.date }}</span>
                    <br>
                    <span>Time: {{ last_submitted_log.time }}</span>
                    <br>
                    <span>Amount: {{ last_submitted_log.amount_ml }} ml</span>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
